*{
    margin: 0;
    padding: 0;    
}

body {
    background-color: #000066;
}

header {
    text-align: center;
    background-color: #00ffff;
}

.instructions {
    text-align: center;
    padding: 40px 0px;
    color: #00ffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}
.instructions p {
    display: inline;
}

table {
    display: flex;
    justify-content: center;
}

.instruction-numbers {
    font-size: 1.5rem;
    padding-right: 20px;
    color: #00ffff
}

.instruction-content {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .95rem;
}

.game-doors {
    width: 99.9%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#door1 {
    padding: 0 10px; 
    cursor: pointer;
}

#door2 {
    padding: 0 10px; 
    cursor: pointer;
}

#door3 {
    padding: 0 10px; 
    cursor: pointer;
}

#play-button {
    width: 10%;
    margin: 0 auto;
    background-color: #FF4500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .instructions {
        text-align: center;
        padding: 40px 0px;
        color: #00ffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
    }
    
    .instruction-numbers {
        font-size: 1.75rem;
        padding-right: 20px;
        padding-left: 15px;
        color: #00ffff;
    }
    
    .instruction-content {
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.0rem;
    }
    
    #play-button {
        width: 30%;
        margin: 0 auto;
        background-color: #FF4500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        align-items: center;
        padding: 20px 0px;
    }
}

@media (max-width: 800px) {
    .instructions {
        text-align: center;
        padding: 40px 0px;
        color: #00ffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.75rem;
    }
    
    .instruction-numbers {
        font-size: 1.75rem;
        padding-right: 20px;
        padding-left: 15px;
        color: #00ffff;
    }
    
    .instruction-content {
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.0rem;
    }
    
    #play-button {
        width: 30%;
        margin: 0 auto;
        background-color: #FF4500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        align-items: center;
        padding: 20px 0px;
    }
    
}

@media (max-width: 600px) {
    .instructions {
        text-align: center;
        padding: 40px 0px;
        color: #00ffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
    }
    
    .instruction-numbers {
        font-size: 1.5rem;
        padding-right: 20px;
        padding-left: 15px;
        color: #00ffff;
        
    }
    
    .instruction-content {
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: .85rem;
    }
    
    #play-button {
        width: 25%;
        margin: 0 auto;
        background-color: #FF4500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        align-items: center;
        padding: 20px 0px;
    }
    
}